.if-services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    margin-bottom: 200px;

    &__title {
        font-family: 'Clash Display';
        font-size: 80px;
        font-weight: 500;
    }

    &__text {
        font-size: 22px;
    }
}