.if-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 930px;
    padding-left: 4em;
    height: 110vh;

    &__title {
        font-family: 'Clash Display';
        font-size: 80px;
        font-weight: 500;
        margin-bottom: 1em;
    }

    &__text {
        font-size: 24px;
        margin-bottom: 0.8em;
    }
}