.if-contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 4em;
    height: 90vh;

    &__container {
        display: flex;
        flex-direction: column;
        max-width: 650px;

        hr {
            width: 100%;
            border-top: 2px solid;
            margin-bottom: 3em;
        }
    }

    &__title {
        font-family: 'Clash Display';
        font-size: 80px;
        font-weight: 500;
        margin-bottom: 0.4em;
    }

    &__text {
        font-size: 24px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Clash Display';
        font-weight: 400;

        &-textarea {
            color: #FFFFFF;
            background: rgba(white, .3);
            width: 600px;
            height: 250px;
            border: solid 2px #FFFFFF;
            border-radius: 1em;
            padding: 1em;
            margin: 1.5em 0;
        }

        ::placeholder {
            color: #FFFFFF;
            opacity: 1;
        }

        &-checkbox {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            p {
                padding-left: 1em;
            }

            input[type="checkbox"] {
                display: none;

                +label {
                    display: block;
                    position: relative;
                    width: 3em;
                    height: 1.6em;
                    border-radius: 1em;
                    border: solid 2px #FFFFFF;
                    cursor: pointer;
                    user-select: none;
                    -webkit-transition: background 0.1s ease-in-out;
                    transition: background 0.1s ease-in-out;

                    &::before {
                        content: "";
                        display: block;
                        width: 1.2em;
                        height: 1.2em;
                        border-radius: 1em;
                        background: rgba(white, .5);
                        position: absolute;
                        left: 0.1em;
                        top: 0.1em;
                        -webkit-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;
                    }
                }

                &:checked {
                    +label {
                        background: #FFFFFF;

                        &:before {
                            background: rgba(black, .5);
                            left: 1.6em;
                        }
                    }
                }
            }
        }
    }
}