.if-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 4em;
    font-family: 'Clash Display';
    font-weight: 400;

    &__ctas {
        display: flex;
        justify-content: space-between;

        a {
            padding: 0 1em;
            font-size: 22px;
            cursor: pointer;
        }
    }
}