.if-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;

    &__text {
        font-family: 'Clash Display';
        font-weight: 400;
        font-size: 22px;
    }
}