.if-button {
    font-family: 'Clash Display';
    font-weight: 400;
    font-size: 16px;
    padding: 8px 16px;
    background: rgba($color: #FFFFFF, $alpha: 0.3);
    border: #FFFFFF solid 1px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}