@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.cdnfonts.com/css/work-sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', 'Arial';
  font-size: 16px;
  background: #050505;
  color: #FFFFFF;
}

::selection {
  background: rgba(#1AFF91, .3);
}

.logo {
  perspective: 500px;
  -webkit-perspective: 500px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}